@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --g-titulo: 400;
    --g-texto: 200;
    --bg-primario: #121212;
    --bg-secundario: #fff;
    --bg-terciario: #e91e63;
    --bg-img: ;
    --fz-titulo: 2rem;
    --fz-2: 1.8rem;
    --fz-3: 1.2rem;
    --transition: 0.5s ease;
}

body{
    background: var(--bg-primario);
}

/* ======CUERPO======== */

.cuerpo-general{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cuerpo-general .formulario{
    background: var(--bg-secundario);
}